@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*,html {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.bg-blue { 
    background: #2b1055;
}

.animation-center {  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

.loading-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    top: -100px;
    position: relative;
    font-style: italic;
}